html{
  height:100%;
}
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height:1.4;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: 'Secular One', sans-serif;
}

img {
  display: block;
  
}
.bg{
  top:114px;
  top:855px;
  width:100%;
  height:100%;
  position:absolute;
}

a{
  text-decoration: none;
  cursor: pointer;
  color:black;
}
/*INNER*/
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  
}
.back-to-position{
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right{
  transform: translateX(-7vw);
}
.back-to-position.to-left{
  transform: translateX(6vw);
}
.back-to-position.to-up{
  transform: translateY(-150px);
}
.back-to-position.to-down{
  transform: translateY(150px);
}
.show .back-to-position{
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-0{
  transition-delay: 0s;
}
.show .back-to-position.delay-1{
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2{
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3{
  transition-delay: 0.9s;
}


/*HEADER*/
header {
  position: relative;
  width: 100%;
  background-color: white;
  height:110px;
  position:fixed;
  z-index:9;
  /* top:0; */
  border-bottom: 4px solid rgb(69, 48, 138);
}
header > .inner {
  height: 110px;
  
}
header .logo{
  position: absolute;
  top:0;
  bottom:0;
  left:10px;
  margin:25px 0;
}
header .logo img{
  
  width:100%;
  height:70%;
  
  
}

header .main__nav{
  width:700px;
  height:50px;
  position: absolute;
  top:60px;
  right:-80px;
}


header .nav{
  position: relative;
  display:flex;
  text-align: right;
  
}
header .main__nav .nav__name{
  font-size:20px;
  font-weight:bold;
  display:block;
  padding:0 15px;
  margin:0 20px;
  z-index: 1;
  height:20px;
  white-space:nowrap;
  
}

header .main__nav .nav__name:hover{
  color:rgba(33,33,33,0.7); 
}
header .main__nav .nav .nav__name .solutions-nav {
  /* display:none; */
  visibility:hidden;
  opacity:0;
  margin:10px 0 0 0;
  background-color: white;
  transition: all .5s;
}

header .main__nav .nav .nav__name:hover .solutions-nav{
  /* display:block; */
  visibility:visible;
  opacity:1;
  color:black;
  
}
header .main__nav .nav .nav__name .solutions-nav li{
  font-size:16px;
  border: 2px solid rgb(69, 48, 138);
  padding:4px 4px 4px 0;
  font-weight: bold;
}
header .main__nav .nav .nav__name .solutions-nav li:first-child {
  border-bottom:none;
}
header .main__nav .nav .nav__name .solutions-nav li a::after{
  content:"";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: rgb(69, 48, 138);
  transition: all .6s;
}
header .main__nav .nav .nav__name .solutions-nav li a::before{
  content:"";
  position: absolute;
  right: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: rgb(69, 48, 138);
  transition: all .6s;
}
header .main__nav .nav .nav__name .solutions-nav li a:hover::after{
  width:50%;
}
header .main__nav .nav .nav__name .solutions-nav li a:hover:before{
  width:50%;
}
#underline .contactus::after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -4px;
  background: rgb(69, 48, 138);
  transition: all .6s;
  left:0;
}

#underline a:hover{
  color:rgba(33,33,33,0.7);
}
header .main__nav .nav .nav__name a{
  position: relative;
}
header .main__nav .nav .nav__name a::after{
  content:"";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: rgb(69, 48, 138);
  transition: all .6s;
  
}
header .main__nav .nav .nav__name a::before{
  content:"";
  position: absolute;
  right: 50%;
  bottom: -4px;
  width: 0;
  height: 3px;
  background-color: rgb(69, 48, 138);
  transition: all .6s;
}
header .main__nav .nav .nav__name a:hover::after{
  width:50%;
}
header .main__nav .nav .nav__name a:hover::before{
  width:50%;
}
header .main__nav .nav .nav__name a:hover{
  color:rgba(33,33,33,0.7);
}
header .main__nav .nav .nav__name .contactus{
  color:rgb(69, 48, 138);
}

.nav__button{
  /* display:block; */
  position:absolute;
  right: 15px;
  width:48px;
  font-size: 24px;
  display: none;
  /* top:30px; */
  top:0;
  bottom:0;
  margin: auto 0;
  /* align-items: right; */
}



/* MIDDIE  */
.middle{
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
}
.middle__bg{
  position: absolute;
  top:-114px;
  width: 225%;
  height:100%;
}
.middle .left{
  position: fixed;
  width:45%;
  height:100%;
  top:114px;
}
.middle .left .left__contact{
  position: absolute;
  width:40%;
  height:600px;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
}

.middle .left .left__contact::before{
  content: "";
  width: 4px;
  height: 130px;
  background-color: #888;
  position: absolute;
  top: 0;
  bottom:-80px;
  margin: auto;
}

.middle .left h1{
  font-weight: bold;
  font-size:70px;
  color:rgb(69, 48, 138);
}
.middle .left .left__space{
  width:2px;
  height:80px;
}
.middle .left .left__contact p{
  font-size: 15px;
  color:black;
}
.middle .left .left__contact .phone{
  display:flex;
}
.middle .left .left__contact .phone img{
  margin: 0 10px 10px 15px;
  height:25px;
}
.middle .left .left__contact .pin{
  display: flex;
}
.middle .left .left__contact .pin img{
  height:25px;
  margin: 0 10px 10px 15px;
}

.middle .right{
  position: absolute;
  right:0;
  width:65%;
  height:100vh;
}
.middle .right .map{
  position:relative;
  width:100%;
  height:100%;
}
.middle .right .map #map{
  width:80%;
  height:65%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  top:114px;
}
.middle .right .table{
  width:100%;
  height:100%;
  position: relative;
  
}
.middle .right .table .container{
  width:70%;
  height:50%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  padding:auto;
  color:rgb(69, 48, 138);
  font-weight: bold;
  font-size:20px;
  top:114px;
}

.middle .right .table .container form input{
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;   
  background-color: transparent;
  margin-right:30px;
  width:300px;
  font-weight: bold;
  font-family: 'Secular One', sans-serif;
}

.middle .right .table .container form input:focus{
  border-bottom:2px solid rgb(69, 48, 138);
}
.middle .right .table .container form .first{
  display:flex;
}
.middle .right .table .container form .second{
  display:flex;
}
.middle .right .table .container form .second .subname{
  font-size:15px;
}
.middle .right .table .container form .third{
  display:flex;
}
.middle .right .table .container form textarea{
  position:relative;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  width:630px;
  resize: none;
  font-weight: bold;
  padding: 10px 0;
  max-height:150px;
  font-size:15px;
  font-family: 'Secular One', sans-serif;
  padding-left:1px;
}
.middle .right .table .container form textarea:focus{
  
  border-bottom:2px solid rgb(69, 48, 138);
}


input::placeholder {
  font-weight: bold;
  font-family: 'Secular One', sans-serif;
  font-size:15px;
}
textarea::placeholder {
  font-weight: bold;
  font-family: 'Secular One', sans-serif;
  font-size:15px;
}


.middle .right .table .container form .bt input{
  padding:10px 25px;
  width:130px;
  margin:20px 0 0 500px;
  border:2px solid #999;
  border-radius: 10px;
  font-size: 16px;
  color:rgb(69, 48, 138);
  transition: 0.5s;
}
.middle .right .table .container form .bt input:hover{
  letter-spacing: 5px;
  color:white;
  border:2px solid rgb(69, 48, 138);
  background-color: rgb(69, 48, 138);
}


